---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: apibp-20242yb-team-01-payment-service:dev
          ports:
            - containerPort: 8081
          env:
            - name: PGHOST
              value: wallet-db
            - name: PGPORT
              value: "5432"
            - name: PGUSER
              value: postgres
            - name: PGPASSWORD
              value: postgres
            - name: PGDATABASE
              value: wallets
            - name: RABBITMQ_URL
              value: amqp://guest:guest@rabbitmq:5672
            - name: GATEWAY_BASE_URL
              value: http://envoy:8080
            - name: PORT
              value: "8081"
            - name: OPENSEARCH_HOST
              value: http://opensearch-node1:9200
            - name: OPENSEARCH_USERNAME
              value: admin
            - name: OPENSEARCH_PASSWORD
              value: quartz_EB_@5911
          imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
spec:
  selector:
    app: payment-service
  ports:
    - port: 8081
      targetPort: 8081
