---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wallet-db-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wallet-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wallet-db
  template:
    metadata:
      labels:
        app: wallet-db
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "wallets"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"
          volumeMounts:
            - name: wallet-db-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: wallet-db-storage
          persistentVolumeClaim:
            claimName: wallet-db-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: wallet-db
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: wallet-db
